<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  
  <body>
    <div class="wrapper">

      <section>

      {{ content }}
        <h3><p>Importante:</p></h3>
         <ul>
           <li>Recuerda, NO dispongo de material para los clientes. Pero dime dónde y cuándo recoger el material de tu empresa y allí nos vemos! 👍🏼</li>
           <li>Si tienes una actividad que va más allá de lo que describo arriba, cuéntamelo, seguro que encontramos una solución! 💬</li>
           <li>Los tiempos y distancias son orientativos para la actividad completa: coche-coche 🚗↔️🚗</li>
         </ul> 
        <h3><a href="https://wa.me/+34686569323?text=Hola%20Indra,%20necesito%20un%20guía%20para%20una%20actividad.%0A%0AActividad:%20%0AFecha:%20%20%0AHorario%20aprox:%20%0ALocalización:%20%0A%0ANº%20de%20clientes:%20%0AIdioma:%20%0AMaterial%20de%20empresa:%20(sí/no)%0A%0ADetalles%20extra:%0APor%20ejemplo,%20¿Tengo%20que%20recoger%20clientes%20en%20el%20hotel?"><img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/6.x/svgs/brands/whatsapp.svg" width="20" height="20"> Escríbeme!</a></h3>
      </section>
      <footer>
        
        <a href="../">🔙 back</a>
        <!--{% if site.github.is_project_page %}-->
        <!--<p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>-->
        <!--{% endif %}-->
        <!--<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>-->
      </footer>

    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
